.new-tweet {
  border: 2px gray;
  border-style: solid;
  border-radius: 7px;
  padding: 10px;
  margin: 2em 2em 5px;
  background-color: #eee;
  position: relative;
 }

 textarea {
  width: 100%;
  padding: 5px;
  margin: 0 auto;
 }

 .counter {
  float: right;
  font-style: italic;
 }

 .new-tweet h2 {
  width: 282px;
  border-bottom-width: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;
 }

.counter.overLimit{
  color: red;        /* change color as class changes i.e because of negative number */
}

article.tweet-container {
  border: 2px gray solid;
  border-radius: 7px;
  top: 10px;
  margin: 10px 0;
  opacity:0.4;
}

article.tweet-container:hover {
  opacity: 1;
}

section#other-tweets{
  margin-top: 10px;
  margin-left: 32px;
  margin-right: 32px;
}

article header.tweet {
  height: 60px;
  background-color: lightgrey;
  margin: 0;
}

article h2 {
  margin: 0;
  float: left;
  padding-left: 10px;
  padding-top: 5px
}

article h6.profile-name {
  float: right;
  display: inline;
  margin: 0;
  padding: 20px 10px;
}

article .avatars {
  float: left;
  width: 80px;
  height: 50px;
}

article footer {
  height: 30px;
  border-top: lightgrey 1px solid;
  padding-left: 10px;
}

article .content-holder {
  height: 75px;
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 30px;
  padding-right: 20px;
}

article .content {
  word-wrap: break-word; /* so that the word in the form stay inside do not spill put */
}








